# Data directories
/pali_hela_script/
/pali_cannon/
/sujato/
/pali-canon-reader/.venv/*
/pali-canon-reader/svelte-app/static-svelte/
/dictionaries/
/data/
/NOTES/

# Data files
*.csv
*.json

# Python
.venv/
__pycache__/
*.pyc
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
