# Data directories
/pali_hela_script/
/pali_cannon/
/sujato/
/sutta-reader/.venv/*
/sutta-reader/static-svelte/

# Data files
*.csv
*.json

# Python
.venv/
__pycache__/
*.pyc
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
